<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        
        <div class="navbar-collapse collapse sidebar-navbar-collapse"><strong>Categories</strong>
          <ul class="nav navbar-nav">
                {% for category in catalog %}
                <li class="menu-item-2">
                    <a href="{{url_for('showMenu', category_id = category.id)}}">
                        <h3 class="menu-item">{{category.name}}</h3>
                    </a>
                </li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>